{% extends 'base.html' %}

{% block title %} About{% endblock title %}
{%block aboutactive%} active {%endblock%}

{% block body %}

  <div class="jumbotron ">
    <h1 class="display-4">About Icoder</h1>
    <p class="lead">Welcome to Thoughtful Musings, a digital haven for curious minds and passionate writers. Our blog is a vibrant community where ideas come to life, creativity is celebrated, and diverse perspectives are valued. Whether you're here to discover new insights, share your thoughts, or simply find a moment of inspiration, Thoughtful Musings offers a rich tapestry of content that caters to a wide range of interests.</p>
    <hr class="my-4">
    <p>Join us on this journey of discovery and creativity. Dive into our latest posts, share your thoughts, and become a part of the Thoughtful Musings community today!

    </p>
    <a class="btn btn-primary btn-lg" href="/"role="button">Learn more</a>
  </div>>


 {% endblock %}